.contant {
    margin: 0 auto;
    width: 900px;
}
mat-form-field {
    width: 90%;
}
.bt-search {
    position: relative;
    top: -4.9px;
    height: 3.6em;
}
img {
    margin-left: auto;
    margin-right: auto;
    width: 406px;
}
.name {
    color: cornflowerblue;
    text-align: center;
    font-size: 38px;
    line-height: 1.1;
    // margin-left: auto;
    // margin-right: auto;
}
.description {
    color: gray;
    text-align: center;
}
.percent {
    color: indianred;
    text-align: center;
    margin: 30px auto 30px auto;
    font-size: 50px;
}