<div class="contant">

    <div class="search-panel row">

        <mat-form-field appearance="outline" class="search-store m-2">
            <mat-label>Магазин</mat-label>
            <mat-select [(ngModel)]="selectedStore" name="store" (ngModelChange)="onChange($event)">
                <mat-option *ngFor="let store of stores" [(value)]="store.id">{{store.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Артикул или штрихкод</mat-label>
            <input type="number" step="1" min="0" matInput class="input-search"  #inputSearch="matInput" placeholder="Введите значение" 
                (input)="onInputSearchData($event.target.value)" 
                #data (keyup.enter)="onSearchOrder()">
            <mat-icon id="close" matSuffix *ngIf="data.value.length > 0" (click)="data.value = ''">close</mat-icon>
            <mat-hint>Введите не менее 6 цифр!</mat-hint>
        </mat-form-field>
        
        <button class="bt-search m-2" mat-stroked-button [disabled]="!isBtSearchActive" (click)="onSearchOrder()"> 
            <mat-icon>search</mat-icon> 
        </button>
        
    </div>

    <mat-card *ngIf="product.article">

        <div class="row">
            <div class="col">
                <img *ngIf="product.img" src="{{product.img | urlImg}}">
                <img *ngIf="!product.img" src="../../../../../assets/no_photo.png">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2 class="name">{{product.name}}</h2>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div class="row">
                    <h2 class="percent" *ngIf="product.percent">{{product.percent}}</h2>
                </div>
                <div class="row">
                    <h2 class="quantity" *ngIf="product.quantity">Доступное количество: {{product.quantity}}</h2>
                </div>
                <div class="row">
                    <h2 class="import-text">ПРОДАЖИ ПО БЕЗНАЛИЧНОМУ РАСЧЕТУ:&nbsp;</h2>
                    <h2 class="info-yes" *ngIf="!product.info">ДА</h2>
                    <h2 class="info-no" *ngIf="product.info">НЕТ</h2>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <h2 class="percent"><u>{{product.itog | mathStr | number:'1.0-2'}} за {{product.mesname}}</u></h2>
                </div> 
                <div class="row">
                    <h2 class="old">Без скидки: {{product.price}}</h2>
                </div>
            </div>
        </div>

    </mat-card>

</div>