.contant {
    padding-top: 5px;
    margin: 0 auto;
    width: 900px;
}
.search-panel {
    width: 100%;
}
.search-store {
    position: relative;
    top: -8px;
}
.search-num {
    width: 65%;
}
mat-form-field {
    width: 43%;
}
.bt-search {
    position: relative;
    top: -4.9px;
    height: 3.6em;
}
img {
    margin-left: auto;
    margin-right: auto;
    width: 406px;
}
.name {
    color: cornflowerblue;
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
    line-height: 1.1;
}
.description {
    color: gray;
    text-align: center;
}
.percent {
    color: indianred;
    text-align: center;
    margin: 30px auto 30px auto;
    font-size: 50px;
}
mat-hint {
    color: rgba(128, 128, 128, 0.5);
}
mat-icon:hover {
    cursor: pointer;
}
.quantity {
    text-align: center;
    margin: 5px auto 5px auto;
    color: rgba(128, 128, 128, 0.75);
    font-size: 24px;
}
.old {
    text-align: center;
    margin: 5px auto 5px auto;
    color: rgba(128, 128, 128, 0.75);
    font-size: 24px;
}
.import-text {
    color: rgba(128, 128, 128);
    font-size: 18px;
    margin-left: 5%;
}
.info-yes {
    color: green;
    font-size: 24px;
    position: relative;
    top: -2px;
}
.info-no {
    color: red;
    font-size: 24px;
    position: relative;
    top: -2px;
}